#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lottery-ball {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: aliceblue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.app-container {
  text-align: center;
  margin-top: 50px;
}

.lottery-balls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.new-numbers-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: aliceblue;
  color: black;
  border: black;
  border-radius: 5px;
}